/* Reset some default styles in browsers */
body, h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}

body {
  /* Set the background color for the entire page */
  background-color: #2c2c2c;
  /* Set the default font for the entire page */
  font-family: Arial, sans-serif;
  color: #ffffff; /* This is white color for the text */
}

/* Add some padding and background color to each section */
.introduction, .professional-summary, .about-me, .skills{
  padding: 20px;
  margin-bottom: 20px;
}

/* Style the headings */
h1 {
  margin-bottom: 10px;
}

/* Style the paragraphs */
p {
  margin-bottom: 10px;
  line-height: 1.6;
}

.introduction {
  color: #D3D3D3; /* This is a light grey color */
}
.professional-summary {
  color: #D3D3D3; /* This is a light grey color */
}
.about-me {
  color: #D3D3D3; /* This is a light grey color */
}
.skills {
  color: #D3D3D3; /* This is a light grey color */
}

.professional-summary ul, .skills ul {
  list-style-position: inside;
  padding-left: 0;
}
